<!DOCTYPE html>
<html>
<head>
	<title>Amadon</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'amadon/css/style.css' %}">
</head>
<body>
	<div id="wrapper">
		<div class="header" >
			<h1>Amadon Store!</h1>
		</div>
		<div class="main">
			<table style="width:50%">
				<tr>
			    <th>Item</th>
			   	<th>Price</th> 
			    <th>Quantity Actions</th>
			    <th></th>
				</tr>
				<tr>
					<td>Dojo Tshirt</td>
					<td>$19.99</td> 
					<td>
						<form action="/process" method="post">
							{% csrf_token %}
							<select name="quantity">
					   			<option value="1">1</option>
					   			<option value="2">2</option>
					   			<option value="3">3</option>
					   			
				   			</select>
				   			<input type="submit" name="product" value="item1" class="add">
						</form>
					</td>
			   		
			  	</tr>
			  	<tr>
					<td>Dojo Sweater</td>
					<td>$29.99</td> 
					<td>
						<form action="/process" method="post">
							{% csrf_token %}
							<select name="quantity">
					   			<option value="1">1</option>
					   			<option value="2">2</option>
					   			<option value="3">3</option>
					   			
				   			</select>
				   			<input type="submit" name="product" value="item2" class="add">
						</form>
					</td>
			   		
			  	</tr>
			  	<tr>
					<td>Dojo Cup</td>
					<td>$4.99</td> 
					<td>
						<form action="/process" method="post">
							{% csrf_token %}
							<select name="quantity">
					   			<option value="1">1</option>
					   			<option value="2">2</option>
					   			<option value="3">3</option>
					   			
				   			</select>
				   			<input type="submit" name="product" value="item3" class="add">
						</form>
					</td>
			   		
			  	</tr>
			  	<tr>
					<td>Algorithm Book</td>
					<td>$49.99</td> 
					<td>
						<form action="/process" method="post">
							{% csrf_token %}
							<select name="quantity">
					   			<option value="1">1</option>
					   			<option value="2">2</option>
					   			<option value="3">3</option>
					   			
				   			</select>
				   			<input type="submit" name="product" value="item4" class="add">
						</form>
					</td>
			   		
			  	</tr>
			</table>

			
		</div>
		
	</div> <!--ends wrapper-->	

</body>
</html>