<html>
<head>
  <title>FULL FRIENDS</title>
 
</head>
<body>

  <h1>Friends:</h1>
  <table>
  <tr>
    <th>Name</th>
    <th>Age</th> 
    <th>Friend Since</th>
   
    <th></th>
  </tr>
    {% for friend in all_friends: %}
  <tr>
    <td>{{ friend['name'] }}</td> 
    <td>{{ friend['age'] }}</td>
    <td>{{ friend['month'] }} {{ friend['day'] }}</td>
    <td>{{ friend['year'] }}</td>
  </tr>
    {% endfor %}
  </table>
   

  <h2>Add a Friend:</h2>
  <form action='/friends' method='POST'>
    <label for="name">Name:<input type="text" name="name" id="name"></label> <br>
    <label for="age">Age:<input type="text" name="age" id="age"></label> <br>
    <input type="submit" value="SUBMIT">
  </form>
</body>
</html>