<!DOCTYPE html>
<html>
<head>
	<title>login</title>
</head>
<body>
	<div>
		{% with messages = get_flashed_messages() %}
	       {% if messages %}
	         {% for message in messages %}
	           <p>{{message}}</p>
	         {% endfor %}
	       {% endif %}
	    {% endwith %}
	</div>
	<div id="wrapper">
		<form action="/success" method="POST" name="login">
			First Name: <input type="text" name="first_name" id="first_name"><br>
			Last Name: <input type="text" name="last_name" id="last_name"><br>
			Email: <input type="text" name="email" id="email"> <br>
			Password: <input type="text" name="password" id="password"><br>
			Confirm Password: <input type="text" name="confirm" id="confirm">
			<br>

    		<input type="submit" value="submit" />
		</form>
		
	</div>
</body>
</html>