<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
	<div id="wrapper">
		<div>
			{% if messages %}
				<ul class="messages">
				    {% for message in messages %}
				    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				    {% endfor %}
				</ul>
			{% endif %}
		</div>

		<div class="main">

			<h1>Welcome!</h1>
			<h1>Register</h1>
			
			<form action="/register" method="POST">
			{% csrf_token %}
				<label for ="name">Name:</label> 
				<input type="text" name="name"><br>
				
				<label for ="alias">Alias:</label> 
				<input type="text" name="alias"><br>
				
				<label for ="email">Email:</label> 
				<input type="text" name="email"> <br>
				
				<label for ="password">Password:</label> 
				<input type="password" name="password"> <br>
				
				<label for ="confirm">Confirm Password:</label>  
				<input type="password" name="confirm"> <br>

				<input type="submit" name="register">
			</form>
			  
		</div>
		<div class="bottom">
			<h1>Login</h1>

			<form action="/login" method="POST">
				{% csrf_token %}
				Email:
				<input type="text" name="email"><br>

				Password:
				<input type="password" name="password"><br>
				
				
				<input type="submit" name="login">
			</form>
		</div>
		
	</div>

</body>
</html>